
.idea/

.DS_Store
*.iml
data

out/

target/

results/

doc/report.aux

doc/report.fdb_latexmk

doc/report.fls

doc/report.log

doc/report.out

doc/report.pdf

doc/report.toc

output.log

doc/report.lot

doc/report.lof
